/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  /*********************************************************************************/
  /*                                                                       GENERAL */
  /*********************************************************************************/

  h2 {
    font-size: 18px;
  }

  h3, h4 {
    font-size: 12.5px;
  }

  p {
    font-size: 12px;
  }

  /*********************************************************************************/
  /*                                                                   HERO-HEADER */
  /*********************************************************************************/

  .filters {
    flex-direction: column;
    margin-top: 15px;
  }

  .filters_buttons {
    width: 79%;
    margin-top: 5px;
  }

  .buttons {
    padding: 11px 20px 11px 11px;
  }

  /*********************************************************************************/
  /*                                                      ACCOMMODATIONS & POPULAR */
  /*********************************************************************************/

  .accommodations-and-popular {
    flex-direction: column;
    height: 750px;
  }

  /**************************************************************** ACCOMMODATIONS */

  #accommodations {
    width: 100%;
  }
  .accommodations_cards-preview {
    gap: 18px;
  }

  .accommodations_cards-preview a {
    width: 30%;
  }

  .accommodations_card img {
    height: 90px;
  }

  .acco_card-content {
    height: 75px;
  }

  .acco_card-content p {
    line-height: 0.3;
  }

  .acco_card-content i {
    font-size: 11px;
  }

  .show-more {
    height: 45px;
    margin-left: 25px;
  }

  /* ********************************************************************** POPULAR */

  #popular {
    width: 100%;
    height: 200px;
  }

  .popular_title {
    width: 92%;
    height: 75px;
  }

  .popular_title i {
    font-size: 14px;
  }

  .popular_cards-preview {
    flex-direction: row;
    width: 96%;
    height: 50%;
  }

  .popular_cards-preview a {
    width: 32%;
  }

  .popular_card {
    height: 110px;
  }

  .pop_card-content i {
    font-size: 11px;
  }

  /*********************************************************************************/
  /*                                                                    ACTIVITIES */
  /*********************************************************************************/

  .activities_card img {
    height: 160px;
  }

  /*********************************************************************************/
  /*                                                                        FOOTER */
  /*********************************************************************************/

  .list {
    width: 31.5%;
  }

  .list li {
    line-height: 25px;
  }
}
